
.cuerpo{
    overflow: hidden;
    width: 100%;
}
#contenedor_carga{
  background-color: rgb(196, 214, 255);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all  1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}



@keyframes des{

  from{transform: scale();}
}
#carga{
  
  height: 150px;
  width: 150px;
 
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  margin: auto;
  /*
  border:10px solid rgba(181, 183, 202, 0.534);

  border-top-color:#df2b2b8a;
  border-top-style:groove;
  border-bottom-color: rgba(10, 22, 131, 0.534);
  border-bottom-style:groove ;
 border-radius: 100%;
-webkit-animation: girar 1.5s linear infinite ; 
  -o-animation: girar 1.5s linear infinite;
  transition: girar 1.5s linear infinite;*/
}

@keyframes girar{
from{transform:rotate(0deg);}
to{transform:rotate(360deg);}
}
.nave{
  position: fixed;
  width: 100%;
  z-index: 1;

}
.bg-my-nav{
    background-color:rgba(200, 77, 77, 0.815);
}
.campo-1{
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.644),
      rgba(57, 83, 197, 0.233)
    );
      background-attachment: fixed;
      background-size: 100% 100%;     
    height: 90vh;
    margin-top: 0%;
    z-index: 1;
}
.logo{
  width: 60%;
  height: 60%;
}
.whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}
.pared{


    margin-left: 3%;
    margin-right: 3%;
}

.campo-servicios{
    background-image: linear-gradient(
        to right bottom,
        rgba(213, 111, 111, 0.733),
        rgba(51, 84, 233, 0.465)
      ),url(img/5.jpg);
      background-size: 100% 100%;
      background-attachment: fixed;
    
    margin-top: 0%;

}

.item-center {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .item-center-quienes {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .cajas-servicios{
      border-radius: 5px;
  }
  .caja-roja{
    background-color:rgba(200, 77, 77, 0.753);

  }
  .caja-azul{
    background-color:rgba(77, 100, 200, 0.753);

  }
  .caja-hueso{
   
      background: RGBA(255, 255, 255, 0.8);

    
  }

  .campo-contacto{
  background-color: rgba(1, 9, 75, 0.397);
  }
  
  
.animado {
  opacity: 0;
  transition: all 1.5s;
}

.mostrarArriba {
  animation: MostrarArriba 2s;
}

@keyframes mostrarArriba {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

  @media (max-width: 800px) {
  .pared{
    padding: 20%;
  }

  #carga{
   margin-right: 41%;
    
  }

  .logo{
    width: 90%;
    height: 70%;
  }
    }
